:root {
    --corprimaria: #0A2239;
    --corsecundaria: #E44F55;
    --cordestaque: #F9BF00;
    --cordetexto: #333333;


}



body {
    background: linear-gradient(90deg, black, rgb(41, 36, 36), rgb(61, 23, 23), purple);
    margin: 0;
}

header .banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.banner .titulo {
    font-size: 90px;
    font-family: 'Alkatra', cursive;
    display: flex;
    flex-direction: column;

}

.banner .botoes {
    display: flex;
    justify-content: space-around;
}

.botao {
    font-family: 'Alkatra', cursive;
    font-size: 30px;
    border: 1px solid black;
    background-color: #007BFF;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.botao:hover {
    border: 1px solid white;
    background-color: #007BFF;

}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    margin-top: 120px;
}

.container .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.feature-image img {
    width: 150px;

}

.feature .feature-title {
    font-size: 20px;
    margin-top: 20px;
    font-family: arial black;
    color: white;
    text-align: center;
}

.feature .feature-description {
    color: grey;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

article .container-preco {
    border-top: 0.4px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preorder-title {
    font-size: 40px;
    color: white;
    font-family: arial black;
    margin-top: 150px;
}

.preorder-text {
    color: grey;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    Width: 500px;
    margin-bottom: 50px;
}


.preorder-preco {
    background-color: rgb(49, 6, 6);
    border-radius: 5px;
}

.preorder-preco-borda {
    margin: 10px;
}

.preorder-preco ul {


    width: 300px;

}

#preco {
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
    list-style-type: none;

}

#preco-titulo {
    font-size: 30px;
    color: white;
    padding: 20px 40px 20px 0px;
    border-top: 1px solid rgb(148, 148, 148);
    border-bottom: 1px solid rgb(148, 148, 148);
    list-style-type: none;
}

.tick {
    color: grey;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(148, 148, 148);
}

ul .botao {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 30px;
    text-align: center;
}

.convince {
    background-color: rgb(32, 17, 17);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    color: white;

}

.convince #convencido {
    margin: 40px;
}

.convince .botao {
    margin: 40px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.direitos {
    color: grey;
}

.contacts ul li {
    display: inline;
    color: grey;
}

.contacts .contato {
    margin-right: 20px;
}

.contacts ul {
    margin: 0
}

.contacts a:hover {
    text-decoration: underline;
}